/* DONT DELETE THIS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
/* WRITE YOUR CODE BELOW */
body {
    height: 100vh;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#first {
    width: 250px;
    height: 250px;
    background-color: wheat;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#second {
    width: 50px;
    height: 50px;
    background-color: teal;
    border: 3px solid white;
}

#third {
    width: 200px;
    height: 50px;
    background-color: teal;
    border: 3px dashed white;
}